h1 {
    margin-bottom: 30px;
}

.mainHeader {
    text-align: left;
}

.buttonContainer {
    margin-top: 25px;
    text-align: left
}

button {
    background-color: steelblue;
    border-radius: 5px  ;
    width: 70px;
    height: 35px;
    margin-top: 5px;
    font-size: 1em;
    color: white;
    border: none
}

.loginForm {
    margin: auto;
    width: 350px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 200px;
    background: white;
    height: 340px;
  }
  
